{% extends "base.html" %}
{% load static %}

{% block title %}Kitoblar{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crud.css' %}">

<div class="container">
    <h1>Kitoblar roʻyxati</h1>

    <div class="create-book-wrapper">
        <a href="{% url 'my_app:add_book_page' %}" class="create-book-link">
            Yangi kitob qo'shish
        </a>
    </div>

    {% for b in books %}
        <div class="book-crud-entry">
            <h2 class="book-title">{{ b.title }}</h2>
            <div class="book-body">{{ b.body }}</div>
            <p class="book-author">Muallif: {{ b.author }}</p>
            <p class="book-created">Qoʻshilgan: {{ b.created|date:"d.m.Y H:i" }}</p>

            <div class="actions">
                <a href="{% url 'my_app:edit_book_page' b.id %}" class="edit_book_link">Tahrirlash</a>
                <a href="{% url 'my_app:book_delete' b.id %}"
                   onclick="return confirm('Rostan oʻchirmoqchimisiz?')"
                   class="delete_book_link">Oʻchirish</a>
            </div>
        </div>
    {% empty %}
        <p>Hozircha hech qanday kitob qoʻshilmagan</p>
    {% endfor %}
</div>


{% endblock %}
