{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sarlavhade hullas</title>
</head>
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<body>
<h2 class = "complete_form">
    formani toldiring
</h2>
<form method="post" action="">
    {% csrf_token %}
    <div class = 'from-group'>
        <label for="first_name">Ismingiz</label>
        <input type="text" class="first_name" id="first_name" name="first_name" placeholder="Ismingizni kiriting">
        <label for="last_name">familyangiz</label>
        <input type="text" class="last_name" id="last_name" name="last_name" placeholder="Familyangiz kiriting">

        <label for="about">ozingiz haqingizda</label>
        <input type="text" class="about" id="about" name="about" placeholder="ozingiz haqingizda">
    </div>
    <h1>
        <button type="submit" class="btn btn-primary">Yuborish</button>

    </h1>
</form>


</body>
</html>
